<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login_activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".more_option_activity" />
        <activity android:name=".status_of_vehicles_activity" />
        <activity android:name=".add_bike_scooter_activity" />
        <activity android:name=".bike_scooter_details_activity" />
        <activity android:name=".notification_activity" />
        <activity android:name=".mark_as_read_notification__activity" />
        <activity android:name=".details_to_be_filled_activity" />
        <activity android:name=".part_maintenance_activity" />
        <activity android:name=".part_replacement_activity" />
        <activity android:name=".dashboard_activity" />
        <activity android:name=".setting_activity" />
    </application>

</manifest>
